# Project exclude paths
/.gradle/
/Recipes/task/build/
/Recipes/task/out/
/Recipes/task/out/production/classes/
/Topics/Comparing dates and time/Don't be late again/out/
/Topics/Comparing dates and time/Don't be late again/out/production/classes/
/Topics/hashCode() and equals() in Collections/Unique pairs in HashMap/out/
/Topics/hashCode() and equals() in Collections/Unique pairs in HashMap/out/production/classes/